.dashboard_jumbo {
  background-color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  margin-left: 70px;
  width: 90%;
  @include for-phone-only {
    margin: 0 auto;
  }
  @include for-tablet-portrait-up {
    margin: 0 auto;
  }
  @include for-tablet-landscape-up {
    margin-left: 64px;
  }

  .house_image {
    background-image: url('../assets/images/overview/overview-house.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }

  .address_value_flex {
    display: flex;
    justify-content: space-between;

    @include for-phone-only {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include for-tablet-portrait-up {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include for-tablet-landscape-up {
      justify-content: space-between;
      flex-direction: row;
      text-align: center;
    }

    .address {
      margin: 1.2rem 4rem;
      display: flex;
      align-items: center;
      font-size: 1.6rem;

      .logo {
        height: 2rem;
      }
      h3 {
        font-family: 'Fira Sans', 'sans-serif';
        font-size: 2rem;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0;
        margin-left: 1rem;
      }
    }

    .value {
      margin: 1.2rem 4rem;
      display: flex;
      align-items: center;
      h4 {
        font-family: 'Roboto', 'sans-serif';
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #888;
        margin-top: 0.3rem;
      }
      h1 {
        margin-left: 1.6rem;
        color: #22ab00;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: 'Roboto', 'sans-serif';
      }
    }
  } // end of .address_value_flex
} // end of .dashboard_jumbo

.overview_cards_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 59px;
  @include for-phone-only {
    margin: 0 auto;
  }
  @include for-tablet-portrait-up {
    margin: 0 auto;
  }
  @include for-tablet-landscape-up {
    margin-left: 59px;
  }

  .feature_card {
    z-index: -1;
    position: relative;
    margin: 1rem 0 1rem 1%;
    width: 400px;
    height: 170px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
    @include for-phone-only {
      width: 100%;
      margin: 1rem 0 1rem 0;
      height: 109px;
    }
    @include for-tablet-portrait-up {
      width: 100%;
      margin: 1rem 0 1rem 0;
    }
    @include for-tablet-landscape-up {
      margin: 1rem 0 1rem 1%;
      width: 49%;
    }
    @include for-overview-page {
      width: 49%;
    }

    img {
      display: inline-block;
      object-fit: cover;
      width: 50%;
      height: 170px;
      @include for-phone-only {
        width: 37%;
        height: 110px;
      }
      @include for-tablet-landscape-up {
        width: 40%;
      }
      @include for-desktop-up {
        width: 50%;
      }
    }
    .text_box {
      position: absolute;
      margin-left: 1.8rem;
      top: 37%;
      display: inline-block;
      h3 {
        font-size: 1.6rem;
        font-weight: 600;
        font-family: 'Roboto', 'sans-serif';
        text-transform: uppercase;
        color: #999;
        margin-bottom: 0.7rem;
      }
      h1 {
        font-size: 2.3rem;
        font-family: 'Roboto', 'sans-serif';
      }
    } // end of .text_box
  } // end of .feature_card
} // end of .overview_cards_container
