.dashboard_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 3%;
  background: #083691;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  height: $dashboard_nav_height;
  width: 100%;
  z-index: 2;
  @include for-phone-only {
    padding: 1.1rem 3%;
  }
  @include for-tablet-portrait-up {
    padding: 1.1rem 3%;
  }
  @include for-desktop-up {
    padding: 1.1rem 1%;
  }

  i,
  h1 {
    color: white;
  }
  .sidebar_toggle {
    display: block;
    cursor: pointer;
  }
  .fa-2x {
    font-size: 2.5rem;
  }
  @include for-desktop-up {
    .sidebar_toggle {
      display: none;
    }
  }

  .dashboard_nav_home_icon {
    display: flex;
    opacity: 0.75;
    &:hover {
      opacity: 0.8;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
    }
  }

  h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 4.2rem;
    margin-left: 5%;
    display: block;
    letter-spacing: 0;

    @include for-tablet-portrait-up {
      // margin-left: 25%;
    }

    @include for-phone-only {
      // margin-left: 18%;
    }
  }

  .dashboard_nav_item_container {
    justify-content: flex-end;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6rem;
    }

    .dashboard_nav_button {
      background: #e63700;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.6rem;
      border: none;
      color: white;
      box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 32px;
      width: 100px;
      padding: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active {
        background: #dc3300;
      }
      &:hover {
        background: #f13800;
      }

      @include for-phone-only {
        width: 70px;
      }
    }
  } // end of dashboard_nav_item_container
} // end of dashboard_nav_container
