.dashboard_jumbo {
  background-color: white;
  margin: 0 5% 3rem;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  max-width: 1200px;

  .house_image {
    background-image: url('../assets/images/overview/house-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }

  .address_value_flex {
    display: flex;
    justify-content: space-between;

    .address {
      margin: 1.2rem 4rem;
      display: flex;
      align-items: center;
      font-size: 1.6rem;

      .logo {
        height: 2rem;
      }
      h3 {
        font-family: 'Fira Sans', 'sans-serif';
        font-size: 2rem;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0;
        margin-left: 1rem;
      }
    }

    .value {
      margin: 1.2rem 4rem;
      display: flex;
      align-items: center;
      h4 {
        font-family: 'Roboto', 'sans-serif';
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #888;
        margin-top: 0.8rem;
      }
      h1 {
        margin-left: 1.6rem;
        color: #22ab00;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: 'Roboto', 'sans-serif';
      }
    }
  } // end of .address_value_flex
} // end of .dashboard_jumbo

.overview_cards_container {
  margin: 3rem 5% 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;

  .feature_card {
    z-index: -1;
    position: relative;
    margin: 1rem 0;
    width: 350px;
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
    img {
      display: inline-block;
      object-fit: cover;
      width: 40%;
      height: 100px;
    }
    .text_box {
      position: absolute;
      margin-left: 1.8rem;
      top: 37%;
      display: inline-block;
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Roboto', 'sans-serif';
        text-transform: uppercase;
        color: #999;
        margin-bottom: 0.7rem;
      }
      h1 {
        font-size: 2.6rem;
        font-family: 'Roboto', 'sans-serif';
      }
    } // end of .text_box
  } // end of .feature_card
} // end of .overview_cards_container
