.dashboard_page_container {
  display: flex;

  .dashboard_content_container {
    margin-top: 70px;
    margin-left: 7.8%;
    width: 100%;
    .dashboard_content_title {
      margin-left: 5%;
      font-size: 3rem;
      margin-top: 1.5rem;
    }
  }
}
