.dashboard_page_container {
  display: flex;

  .dashboard_content_container {
    margin-top: 70px;
    margin-left: 110px;
    width: 100%;
    .dashboard_content_title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 3rem;
      line-height: 4.2rem;
      margin-left: 5%;
      margin-top: 22px;
      margin-bottom: 2.6rem;
      color: #666;
    }
  }
}
