.dashboard_sidebar_container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #2d3950, #2d3950);
  width: $dashboard_sidebar_width;
  height: 100%;
  position: fixed;
  top: $dashboard_nav_height;
  left: 0;
  z-index: 1;
  transition: 500ms;
  &.hide {
    transform: translateX(-$dashboard_sidebar_width);
  }

  @include for-desktop-up {
    &.hide {
      transform: none;
    }
  }

  a {
    text-decoration: none;
  }

  .dashboard_sidebar_navitem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    border-bottom: 0.5px solid rgba(194, 194, 194, 0.4%);
    opacity: 0.9;
    @include for-phone-only {
      height: 82px;
    }


    &:hover {
      opacity: 1;
    }

    .dashboard_sidebar_title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 16px;
      color: #94aacd;
    }

    .dashboard_sidebar_icon {
      opacity: 1;
      margin-bottom: 10px;
      img {
        height: 30px;
        fill: #94aacd;
      }
    }
  }

  .dashboard_sidebar_active_navitem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background: linear-gradient(0deg, #2d3950, #2d3950);
    border-left: 5px solid #e51f43;
    border-bottom: 0.5px solid rgba(194, 194, 194, 0.2%);
    opacity: 1;

    .dashboard_sidebar_title {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 16px;
      color: #94aacd;
    }

    .dashboard_sidebar_icon {
      opacity: 1;
      margin-bottom: 10px;
      img {
        height: 30px;
      }
    }
  } // end of dashboard_sidebar_navitem
} // end of dashboard_sidebar_container
