.settings_container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.6rem;

  @include for-phone-only {
    padding-left: 0;
    margin: 0 auto;
    width: 90%;
  }
  @include for-tablet-portrait-up {
    padding-left: 0;
    margin: 0 auto;
    width: 90%;
  }
  @include for-desktop-up {
    padding-left: 70px;
    max-width: 1000px;
    margin: 0;
  }

  .settings_content {
    background: white;
    width: 40vw;
    min-width: 50rem;
    padding: 3rem;
    margin-bottom: 8vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h2 {
      font-family: 'Roboto', 'sans-serif';
      font-weight: 600;
      font-size: 2rem;
      color: black;
      margin-bottom: 2rem;
    }

    .inline-grid {
      width: 100%;
      gap: 1rem;
      display: inline-grid;
      grid-template-columns: 1fr 3fr;
    }

    .user-info {
      margin-bottom: 2rem;
      img {
        width: 8rem;
        border-radius: 10vw;
      }
      div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
          color: dodgerblue;
          border: none;
          width: max-content;
          padding: 0.5rem 0;
        }
      } // end div
    } // end .user-info

    form {
      display: flex;
      flex-direction: column;
      // outline: 2px solid red;
      margin-bottom: 2rem;

      .error {
        grid-column-start: -2;
        font-size: 1.4rem;
        color: red;
      }

      label {
        div {
          display: flex;
          align-items: center;
        }
        margin: 1rem 0;
        input {
          font-size: 1.4rem;
          width: 100%;
          padding: 0.5rem;
          border-width: 1px;
          border-color: transparent;
          border-style: solid;
          &:focus {
            border-color: lightgray;
            outline: none;
            box-shadow: 0 0 0 3px rgba(94, 175, 255, 0.5);
          }
        } // end input
      } // end label
      button {
        align-self: flex-end;
        background: #e63700;
        border-radius: 4px;
        font-size: 1.4rem;
        height: 36px;
        color: #ffffff;
        border: none;
        padding: 0.5rem 1rem;
        padding: 0.5rem 2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover {
          background: #f13800;
        }
        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(94, 175, 255, 0.5);
        }
        &:active {
          background: #d33200;
        }
        &:disabled {
          background: gray;
          cursor: default;
          background: lightgray;
          box-shadow: none;
        }
      } // end button
    } // end form
    form.password {
      input {
        border-color: lightgray;
      }
    }
  } // end .settings_content
} // end .settings_container
