.mortgage_calc_container {
  padding-left: 70px;
  max-width: 1000px;

  @include for-phone-only {
    padding-left: 0;
    margin: 0 auto;
    width: 90%;
  }
  @include for-tablet-portrait-up {
    padding-left: 0;
    margin: 0 auto;
    width: 90%;
  }
  @include for-desktop-up {
    padding-left: 70px;
    max-width: 1000px;
    margin: 0;
  }

  .mortgage_calc_chart {
    background: #fff;
    margin: 10px 0;
    @include material-card-low;
  }

  .money {
    width: 100%;
    background: #fff;
    padding: 20px 15px;
    @include material-card-low;

    h2 {
      font-family: 'Roboto', 'sans-serif';
      font-weight: 600;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #888;
      @include for-phone-only {
        font-size: 1.6rem;
      }
    }

    h3 {
      color: #22ab00;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 400;
      font-size: 2.6rem;
      padding-top: 15px;
    }
  }

  .mortgage_calc_input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
    width: 100%;

    @include for-phone-only {
      flex-direction: column;
    }
    @include for-tablet-portrait-up {
      flex-direction: column;
    }
    @include for-desktop-up {
      flex-direction: row;
    }

    .mortgage_calc_input_box {
      width: 32%;
      background: #fff;
      padding: 20px 15px;
      @include material-card-low;

      @include for-phone-only {
        width: 100%;
        margin-bottom: 15px;
      }
      @include for-tablet-portrait-up {
        width: 100%;
        margin-bottom: 15px;
      }

      @include for-desktop-up {
        width: 32%;
      }

      .mortgage_calc_label {
        font-size: 1.2rem;
        font-family: 'Roboto', 'sans-serif';
        font-weight: 600;
        color: #888;
        text-transform: uppercase;
        width: 90%;
        margin: 0 auto;
        @include for-phone-only {
          font-size: 1.6rem;
        }
      }

      span {
        font-size: 2rem;
        font-family: 'Roboto', 'sans-serif';
        color: #bbb;
        margin-right: 5px;
      }

      input {
        width: 90%;
        border: none;
        border-bottom: 1px solid #c4c4c4;
        font-size: 2.2rem;
        font-family: 'Roboto', 'sans-serif';
        margin: 10px auto 0;
        @include for-phone-only {
          font-size: 2.6rem;
        }
      }
    }
  }

  .line {
    fill: none;
    stroke: #428bca;
    stroke-width: 1.5px;
  }

  // Makes graph line dotted instead of solid
  // .baseline {
  //   stroke-dasharray: 4, 4;
  // }
}
