.dashboard_page_container {
  display: flex;

  .dashboard_content_container {
    margin-top: 70px;
    margin-left: 120px;
    border: 1px solid red;
    width: 100%;
    h1 {
      margin-left: 5%;
      font-size: 3rem;
      margin-top: 1.5rem;
    }
  }
}
