.design_studio_container {
  margin: 0 5%;

  p {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 1.8rem;
    margin: -15px auto 50px;
    color: #888;
    width: 60%;
    text-align: center;

    @include for-phone-only {
      width: 90%;
    }
  }

  .decorate_svg {
    width: 220px;
    // height: 300px;
    margin: 90px auto 0;
    position: absolute;
    left: 100px;
    right: 0;
    opacity: 0.07;

    @include for-tablet-portrait-up {
      left: 25px;
    }
    @include for-phone-only {
      margin-top: 50px;
      left: 25px;
    }
    @include for-desktop-up {
      left: 100px;
    }
  }

  .design_studio_btn_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    margin: 0 auto 30px;

    @media screen and (max-width: 710px) {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include for-phone-only {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .design_studio_btn {
      border: none;
      background: #fff;
      color: #666;
      cursor: pointer;
      font-family: 'Roboto', 'sans-serif';
      font-size: 1.6rem;
      padding: 0.7rem 2.2rem;
      box-shadow: 0px 4px 20px rgba(68, 68, 68, 0.1);

      @include for-tablet-portrait-up {
        padding: 0.7rem 1.5rem;
      }

      @media screen and (max-width: 710px) {
        width: 27%;
        margin-bottom: 10px;
      }

      @include for-phone-only {
        width: 45%;
        margin-bottom: 10px;
      }

      &:hover {
        background: #e63700;
        color: white;
        transition: 0.3s;
      }
      &:focus {
        outline: none;
      }
    }

    .active_btn {
      background: #e63700;
      color: white;
    }
  } // end of design_studio_btn_container

  .design_studio_img_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 13px;
    max-width: 1100px;
    margin: 0 auto;

    @include for-phone-only {
      justify-items: center;
    }

    .pagination_btn {
      border: none;
      cursor: pointer;
      font-family: 'Roboto', 'sans-serif';
      font-size: 1.6rem;
      padding: 0.7rem 2.2rem;
    }

    .design_studio_img_div {
      grid-row-end: span calc(100% + 1);
    }

    img {
      width: 250px;

      @include for-tablet-portrait-up {
        width: 95%;
      }
      @include for-phone-only {
        width: 100%;
      }
    }
  }
}
