.design_studio_container {
  margin: 0 5%;

  p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6rem;
    margin: -10px 0 40px;
    color: #888;
  }

  .design_studio_btn_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 0 30px;

    @include for-phone-only {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .design_studio_btn {
      border: none;
      background: #fff;
      color: #666;
      cursor: pointer;
      font-family: 'Roboto', 'sans-serif';
      font-size: 1.6rem;
      padding: 0.7rem 2.2rem;
      box-shadow: 0px 4px 20px rgba(68, 68, 68, 0.1);

      @include for-tablet-portrait-up {
        padding: 0.7rem 1.5rem;
      }
      @include for-phone-only {
        width: 45%;
        margin-bottom: 10px;
      }

      &:hover {
        background: #e63700;
        color: white;
        transition: 0.3s;
      }
      &:focus {
        outline: none;
      }
    }
  } // end of design_studio_btn_container

  .design_studio_img_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 13px;

    @include for-phone-only {
      justify-items: center;
    }

    .design_studio_img_div {
      grid-row-end: span calc(100% + 1);
    }

    img {
      width: 250px;

      @include for-tablet-portrait-up {
        width: 95%;
      }
      @include for-phone-only {
        width: 100%;
      }
    }
  }
}
