.house_profile_backdrop_image {
  background-image: url('../assets/images/house-profile/housewithpool.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  position: relative;

  button {
    position: absolute;
    right: 60px;
    bottom: 30px;
    border: none;
    border-radius: 4px;
    line-height: 16px;
    font-size: 1.4rem;
    background: #d4def1;
    color: #005ee5;
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background: #dbe6ff;
    }
  }
}

.house_profile_user_section_container {
  background: #fff;
  width: 100%;
  height: 130px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

  .house_profile_user_section_sub_container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .house_profile_links {
      font-family: 'Roboto', 'sans-serif';
      font-size: 1.4rem;
      color: #777;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 70px;

      .fab,
      .far,
      .fas {
        margin-bottom: 12px;
      }

      span {
        cursor: pointer;
      }
    }

    .house_profile_left_padding {
      padding-left: 170px;
    }

    .house_profile_features {
      display: flex;
      max-width: 325px;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 70px;
    }
  }

  img {
    position: absolute;
    border-radius: 100%;
    top: -35%;
    width: 150px;
  }

  .house_profile_name_and_address {
    border-bottom: 1px solid #c4c4c4;

    padding: 15px 30px;

    h1 {
      padding-left: 170px;
      font-size: 2.4rem;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 700;
    }

    h3 {
      font-family: 'Fira Sans', 'sans-serf';
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}

// HouseProfileForms styles
.house_profile_forms_container {
  border: 1px solid red;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .house_profile_forms_left {
    border: 1px solid green;
    width: 58%;
  }

  .house_profile_forms_right {
    border: 1px solid green;
    width: 40%;
  }
}
