.house_profile_backdrop_image {
  background-image: url('../assets/images/house-profile/housewithpool.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  position: relative;

  button {
    position: absolute;
    right: 60px;
    bottom: 30px;
    border: none;
    border-radius: 4px;
    line-height: 16px;
    font-size: 1.4rem;
    background: #d4def1;
    color: #005ee5;
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background: #dbe6ff;
    }
    @include for-phone-only {
      // position: relative;
      right: 15px;
   }
   @include for-tablet-portrait-up {
    right: 25px;
   }
  }
}

.house_profile_user_section_container {
  background: #fff;
  width: 100%;
  height: 105px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  
  @include for-phone-only {
    height: 260px;
 }

 @include for-tablet-portrait-up {
  height: 80px;
 }
 @include for-desktop-up {
  height: 105px;
}
  
  .house_profile_name_and_address {
    // border-bottom: 1px solid #c4c4c4;
    display: flex;
    // justify-content: center;
    // padding: 15px 30px;
    width: 85%;
    @include for-phone-only {
      width: 100%;
   }

   @include for-tablet-portrait-up {
     width: 85%;
   }

   @include for-desktop-up {
      width:90%;
   }

  .house_profile_user_section_sub_container {
    // max-width: 1100px;
    // margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include for-phone-only {
       display: none;
    }

    @include for-tablet-portrait-up {
      display: none;
    }

    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
    }

    

    .house_profile_links {
      font-family: 'Roboto', 'sans-serif';
      font-size: 1.4rem;
      color: #777;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 70px;

      .fab,
      .far,
      .fas {
        margin-bottom: 12px;
      }

      span {
        cursor: pointer;
        span{
          padding-left: 15px;
        }
      }
    }

    .house_profile_left_padding {
      padding-left: 170px;

      @include for-phone-only {
       
      }
  
      @include for-tablet-portrait-up {
        
      }
  
      @include for-desktop-up {
        
      }
    }

    .house_profile_features {
      display: flex;
      max-width: 325px;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 70px;

      @include for-phone-only {
        
      }
  
      @include for-tablet-portrait-up {
        
      }
  
      @include for-desktop-up {
        
      }
    }
  }

  .small_home_address{
    display:none;

    @include for-phone-only {
      display: block;
      text-align: center;
      padding-left: 0px;
      font-size: 2.4rem;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 700;
   }

   @include for-tablet-portrait-up {
     display: flex;
     justify-content: space-between;
     font-size: 2.4rem;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 700;
   }

   @include for-desktop-up {
     display: none;
   }
   h1{
    @include for-phone-only {
    padding-bottom: 10px;
    padding-top: 10px;
   }

   @include for-tablet-portrait-up {
    
   }

   @include for-desktop-up {
     
   }
   }

   h3{
    @include for-phone-only {
      font-size: 1.4rem;
      padding-top: 10px;
    }
 
    @include for-tablet-portrait-up {
      max-width: 220px;
      font-size: 1.7rem;
      text-align:center;
    }
 
    @include for-desktop-up {
      
    }
   }

  }

  




  

    img {
      position: absolute;
      border-radius: 100%;
      top: -35%;
      width: 150px;
  
      @include for-phone-only{
        margin: 0px;
        position: relative;
        
      }
    
      @include for-tablet-portrait-up {
        position:relative;
      }
    
      @include for-desktop-up {
        position:absolute;
       
      }
    }
    .name_address{
      width: 100%;
      display: flex;
      justify-content: space-between;

    h1 {
      
      font-size: 2.4rem;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 700;

      @include for-phone-only{
        padding-left: 0px
      }
    
      @include for-tablet-portrait-up {
        padding-left:0px;
      }
    
      @include for-desktop-up {
        padding-left: 190px;
      }
    }

    h3 {
      font-family: 'Fira Sans', 'sans-serf';
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0;
      @include for-phone-only {
        text-align:center;
        max-width: 220px;
        font-size: 1.8rem;
     }
  
     @include for-tablet-portrait-up {
      text-align:center;
      max-width: 120px;
     }
  
     @include for-desktop-up {
       max-width: 500px;
     }
    }
  }
  }
  .small_email_share{
    display:none;

    @include for-phone-only {
      display: none;
   }

   @include for-tablet-portrait-up {
     display: none;
   }

   @include for-desktop-up {
     display: none;
   }
  }
}

// HouseProfileForms styles
.house_profile_forms_container {
  // border: 1px solid red;
  margin: 30px auto 80px;
  display: flex;
  width: 96%;

  @include for-phone-only {
    margin-right: 0px;
    flex-direction: column;
  }

  @include for-tablet-portrait-up {
    margin-right: 20px;
    flex-direction: column
  }

  @include for-desktop-up {
    margin-right: 40px;
    margin-left: 50px;
    flex-direction: row;
    width: 96%;
    display: flex;
  }



  .house_profile_forms_left {
    // border: 1px solid green;
    width: 58%;

    @include for-phone-only {
      width: 95%;
    }
  
    @include for-tablet-portrait-up {
      width: 94%;
      margin-right: 100px;
      margin-left: 20px
    }
  
    @include for-desktop-up {
      margin-right: 20px;
      margin-left: 20px;
      width: 58%;
    }
  }

  .house_profile_forms_right {
    // border: 1px solid green;
    width: 40%;

    @include for-phone-only {
      width: 95%;
    }
  
    @include for-tablet-portrait-up {
      display: flex;
      justify-content: space-between;
      width: 94%;
      margin-right: 20px;
      margin-left: 20px
    }
  
    @include for-desktop-up {
      display: block;
      margin-right: 10px;
      margin-left: 20px;
      width: 40%;
    }
  }

 

  .house_profile_form {
    background: #fff;
    // width: 49%;
    height: 310px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);

    p {
      width: 80%;
      margin: 0 auto;
      padding: 30px 0 50px;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }

    .house_profile_form_content {
      height: 250px;
      width: 100%;
      
      .house_profile_form_content_gutter{
        margin: 10px 13px 13px 12px;
        height: 225px;
        background-color: rgb(248, 248, 248);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
      }
      textarea,
      pre {
        border-radius: 2px;
        font-family: $sans_serif;
        font-size: 2rem;
        border: none;
        height: 232px;
        padding: 2.9rem;
        width: 100%;
        resize: none;
        color: rgb(124, 120, 120);
        background-color: rgb(248, 248, 248);
        @include for-phone-only {
          font-size: 1.6rem;
        }
        
      }
      textarea {
        overflow: scroll;
        height: 217px;
      }
    }

    .house_profile_form_title {
      border-bottom: 1px solid #c4c4c4;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;

      

      h2 {
        font-family: 'Roboto', 'sans-serif';
        font-weight: 600;
        font-size: 2.4rem;
        margin-left: 30px;
        width:100%;
        text-align:center;
        display: block;

        @include for-phone-only {
          margin-left: 30px;
        }
    
        @include for-tablet-portrait-up {
          margin-left: 30px;
        }
    
        @include for-desktop-up {
          margin-left: 30px
        }

      }

      i {
        font-size: 1.4rem;
        color: #bbb;
        margin-right: 15px;
      }

    
    }
    h3 {
      padding: 10px 0 10px;
      width: 80%;
      margin: 0 auto;
      font-family: 'Roboto', 'sans-serif';
      font-weight: 300;
      font-size: 1.6rem;
    }
    span{
      font-weight: 600
    }
  }

  .width{
    width: 49%;

    @include for-phone-only {
      width: 100%
    }

    @include for-tablet-portrait-up {
      width: 49%;
    }

    @include for-desktop-up {
      width: 88%;
    }
  }
}

  //Begin of house finishes
  .house_finishes_selector_container {
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.2%;

    @include for-phone-only {
      margin-right: 0px;
      flex-direction: column;
      
    }

    @include for-tablet-portrait-up {
      margin-right: 0px;
    }

    @include for-desktop-up {
      margin-right: 0px;
    }

    .house_finishes_selector::-ms-expand {
      display: none;
    }

    .house_finishes_title{
      font-family: 'Montserrat', 'sans-serif';
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #888;

        @include for-phone-only {
          padding-top: 8px;
          
        }
    }


    .house_finishes_selector {
      border: none;
      cursor: pointer;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.2rem;
      width: 50%;
      max-width: 250px;
      height: 3.5rem;
      display: block;
      // text-align doesn't work

      @include for-phone-only {
        width: 100%;
        max-width: 100%;
        padding-top: 5px;
        margin-top: 5px;
        height: 3.5rem;
      }

      &:focus {
        outline: none;
      }


    }

    

    .house_finishes_select_border {
      border: 1px solid #c4c4c4;
    }
    // end house finishes

    
  } 
  
  // begin parcel data
  .house_parcel_container {
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.2%;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #888;
    

    @include for-phone-only {
      margin-right: 0px;
      flex-direction: column;
      padding-top: 6px;
    }

    @include for-tablet-portrait-up {
      margin-right: 0px;
    }

    @include for-desktop-up {
      margin-right: 0px;
    }
    form{
      input{
        border: none;
      cursor: pointer;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.2rem;
      width: 50%;
      max-width: 250px;
      height: 3.5rem;
      display: block;

      @include for-phone-only {
        width: 100%;
        max-width: 100%;
      }

      &:focus {
        outline: none;
      }
      }
      
    }

    .house_parcel_input {
      border: none;
      cursor: pointer;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.2rem;
      width: 50%;
      max-width: 250px;
      height: 3.5rem;
      display: block;
      color: black;

      @include for-phone-only {
        width: 100%;
        max-width: 100%;
        text-align:center;
      }

      &:focus {
        outline: none;
      }


    }

    

    .house_finishes_select_border {
      border: 1px solid #c4c4c4;
    }

  }