.house_profile_backdrop_container {
  background-image: url('../assets/images/house-profile/housewithpool.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
}
