.landing_nav_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  padding: 2.5rem 0 2rem;

  .landing_nav_home_icon {
    color: white;
    opacity: 0.75;
    cursor: pointer;
    margin-left: 30px;

    a {
      text-decoration: none;
      font-size: 1.4rem;
      color: inherit;
      opacity: inherit;
      &:hover {
        opacity: 1;
      }
    }
  }

  .landing_nav_item_container {
    width: 25%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.6rem;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }

    .landing_nav_button {
      background: #e63700;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.6rem;
      border: none;
      color: white;
      box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 32px;
      width: 132px;
      padding: none;
      cursor: pointer;
      &:hover {
        background: #f13800;
      }
      &:focus {
        outline: none;
      }
      &:active {
        background: #d33200;
      }
    }
  } // end of landing_nav_item_container
} // end of landing_nav_container
