.landing_body {
  @include radial-gradient(#6c9de2, #79adff, #3560d0, #0038a5, #003498);
  width: 100%;
  height: 100%;
}

.landing_mid {
  background: #fff;
  padding-bottom: 250px;
  text-align: center;

  h2 {
    color: #e51f43;
    font-size: 4.8rem;
    padding: 60px 0 40px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    letter-spacing: -1px;

    @include for-phone-only {
      padding-top: 15px;
      width: 90%;
      margin: 0 auto;
      font-size: 3.6rem;
    }
    @media (min-width: 650px) {
      padding-top: 30px;
    }
    @include for-tablet-landscape-up {
      padding-top: 60px;
    }
  }

  p {
    font-size: 2rem;
    font-family: 'Roboto', 'serif';
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
    color: #222;
    line-height: 3rem;

    @include for-phone-only {
      width: 90%;
      font-size: 1.8rem;
    }
  }
} // end of .landing_mid

.macbook {
  background: #fff;
  background-image: url('../assets/images/landing-cloud-2.png');
  background-position: center;
  height: 100px;
  position: relative;

  img {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    position: absolute;
    top: -170px;
    left: 0;
    right: 0;
    @include for-phone-only {
      max-width: 360px;
    }
    @include for-tablet-portrait-up {
      max-width: 580px;
    }
    @include for-tablet-landscape-up {
      max-width: 750px;
    }
  }
}

.landing_mid_grey {
  background: #f7f7f7;
  color: #222;
  padding-top: 200px;
  @include for-phone-only {
    padding-top: 0px;
  }

  @include for-tablet-portrait-up {
    padding-top: 90px;
  }

  @include for-tablet-landscape-up {
    padding-top: 200px;
  }

  h2 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    padding: 80px 0;
  }

  .marketing_cards {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 110px;

    @include for-phone-only {
      flex-direction: column;
      padding-bottom: 0;
    }

    @include for-tablet-portrait-up {
      flex-direction: column;
    }

    @include for-tablet-landscape-up {
      display: flex;
      justify-content: space-between;
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 110px;
      flex-direction: row;
    }

    .marketing_card {
      width: 30%;
      @include for-phone-only {
        width: 80%;
        margin: 0px auto 60px auto;
      }
      @include for-tablet-portrait-up {
        width: 60%;
        margin: 0px auto 60px auto;
      }
      @include for-tablet-landscape-up {
        width: 30%;
        margin: none;
      }

      img {
        display: block;
        margin: 0 auto 50px;
        width: 70px;
        @include for-phone-only {
          margin: 0 auto 20px;
        }
        @include for-tablet-portrait-up {
          margin: 0 auto 20px;
        }
        @include for-tablet-landscape-up {
          display: block;
          margin: 0 auto 50px;
          width: 70px;
        }
      }

      h3 {
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
        font-family: 'Montserrat', 'sans-serif';
        letter-spacing: 0px;
        margin: 20px 0;
      }

      p {
        text-align: center;
        font-family: 'Roboto', 'serif';
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.4rem;
        @include for-phone-only {
          font-size: 1.8rem;
        }
      }
    } // end of .marketing_card
  } // end of .marketing_cards
} // end of .landing_mid_grey

.landing_cloud_3 {
  background-image: url('../assets/images/landing-cloud-3.png');
  background-position: center;
  height: 166px;
  width: 100%;
}

.reviews {
  background: #fff;
  margin: 0 auto;
  max-width: 1000px;
  @include for-phone-only {
    width: 90%;
  }
  @include for-tablet-portrait-up {
    width: 90%;
  }
  @include for-tablet-landscape-up {
    width: 90%;
  }

  h2 {
    color: #333;
    font-size: 3.6rem;
    text-align: left;
  }

  .review_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include for-phone-only {
      flex-direction: column;
      margin-bottom: -150px;
    }

    @include for-tablet-portrait-up {
      flex-direction: column;
    }

    @include for-tablet-landscape-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
    }

    .review_card {
      border-radius: 15px;
      box-shadow: -6px 8px 9px rgba(0, 0, 0, 0.08);
      display: flex;
      margin-top: 30px;
      max-width: 47%;
      padding: 30px 40px;

      @include for-phone-only {
        max-width: 100%;
        padding: 25px 8px;
        margin: 0px auto 25px;
      }
      @include for-tablet-portrait-up {
        max-width: 100%;
      }

      @include for-tablet-landscape-up {
        max-width: 47%;
      }

      img {
        height: 7rem;
        width: 7rem;
      }

      .review_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-size: 1.6rem;
          line-height: 2rem;
          padding: 0 0 15px 20px;
          text-align: left;
          @include for-phone-only {
            padding: 0 0 15px 0px;
          }
        }

        h5 {
          font-family: 'Roboto', 'serif';
          font-weight: bold;
          font-size: 1.8rem;
          text-align: right;
        }
      } // end of .review_text
    } // end of .review_card
  } // end of .review_cards
} // end of .reviews

.landing_cta_bottom {
  height: 600px;
  position: relative;
  z-index: 1;

  p {
    color: #fff;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 0px;
    opacity: 1;
    padding: 200px 0 50px;
    text-align: center;
    text-shadow: -2px 4px 3px rgba(0, 0, 0, 0.15);
    z-index: 950;

    @include for-phone-only {
      padding: 150px 0 50px;
    }
  }

  .landing_house_bg {
    background-image: url('../assets/images/house-bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .cta_btn_bottom {
    background: #e51f43;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 5px 3px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Roboto', 'serif';
    font-size: 3rem;
    font-weight: 300;
    margin: 0 auto;
    opacity: 1;
    height: 70px;
    width: 280px;
    z-index: 900;

    &:hover {
      background: #f83f61;
      transition: 0.3s;
    }
    &:active {
      background: #ca1536;
    }
    &:focus {
      outline: none;
    }
  }
} // end of .landing_cta_bottom
