.landing_body {
  @include radial-gradient(#6c9de2, #79adff, #3560d0, #0038a5, #003498);
  width: 100%;
  height: 100%;
}

.landing_mid {
  background: #fff;
  text-align: center;

  h2 {
    color: #e63700;
    font-size: 4.8rem;
    padding: 150px 0 40px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    letter-spacing: -1px;
  }

  p {
    font-size: 2rem;
    font-family: 'Roboto', 'serif';
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 80px;
    color: #222;
    line-height: 3rem;
  }
}

.macbook {
  background: #fff;

  img {
    display: block;
    margin: 0 auto;
    max-width: 750px;
  }
}

.landing_mid_grey {
  background: #f7f7f7;

  h2 {
    color: #222;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    padding: 80px 0;
  }

  .marketing_cards {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 80px;
  }
}

.landing_footer {
  background: #002663;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 190px;
  justify-content: space-between;
  padding: 30px 60px;

  span {
    font-family: 'Roboto', 'sans-serif';
  }

  .footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;

    div {
      display: flex;
      align-items: center;
    }

    h3 {
      color: #0068ff;
      display: inline-block;
      font-size: 3.6rem;
      font-family: 'Montserrat', 'sans-serif';
      font-weight: 700;
      letter-spacing: -2px;
    }

    span {
      margin-left: 2.4rem;
      opacity: 0.8;
      font-weight: 300;
    }
  }

  .footer_bottom {
    display: flex;
    font-family: 'Roboto', 'serif';
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: space-between;
    opacity: 0.5;
    margin: 0 auto;
    min-width: 375px;
    max-width: 500px;
  }

  .fab {
    color: #0068ff;
    margin-left: 12px;
    font-size: 2.2rem;
  }
}
