.landing_nav_container {
  display: flex;

  justify-content: space-between;
  margin: 0 9rem;
  padding: 2rem 0;

  .landing_nav_home_icon {
    color: white;
    opacity: 0.75;
    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
      opacity: inherit;
    }
  }

  .landing_nav_item_container {
    width: 25%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6rem;
    }

    .landing_nav_button {
      background: #e63700;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6rem;
      border: none;
      color: white;
      box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 32px;
      width: 35%;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active {
        background: #d33200;
      }
    }

  } // end of landing_nav_item_container
} // end of landing_nav_container
