.hero {
  text-align: center;
  position: relative;

  h1 {
    color: #fff;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 6.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 140px 0 20px;
    @include for-phone-only {
      margin: 60px auto 30px;
      font-size: 4.2rem;
      width: 90%;
    }
    @include for-tablet-portrait-up {
      margin-top: 80px;
    }
    @include for-tablet-landscape-up {
      margin-top: 140px;
    }
  }

  p {
    color: #fff;
    font-family: 'Roboto', 'serif';
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 40px;
    opacity: 0.8;
    word-spacing: 2px;
    margin: 0 auto;

    @include for-phone-only {
      margin-top: 20px;
      font-size: 2rem;
      line-height: 3rem;
      width: 90%;
    }
  }

  p:nth-of-type(2) {
    opacity: 0.6;
    font-size: 1.8rem;

    @include for-phone-only {
      font-size: 1.6rem;
    }
  }

  .address_searchbar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;

    @include for-phone-only {
      margin-bottom: 60px;
      width: 90%;
    }

    form {
      margin: 70px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 40px;

      .error_container {
        width: 575px;
        text-align: left;
        text-shadow: 1px 1px #333;
        font-weight: 400;
        font-size: 1.8rem;
        position: absolute;
        margin-top: -50px;
        margin-left: 10px;
        color: red;
        @include for-tablet-landscape-up {
          width: 650px;
        }
        @include for-phone-only {
          text-align: center;
        }
      }

      @include for-phone-only {
        margin: 50px 0 0;
        align-items: flex-end;
      }

      @include for-tablet-portrait-up {
        margin: 60px auto 0;
        align-items: flex-end;
      }

      @include for-tablet-landscape-up {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 60px auto 0;
        justify-content: center;
      }

      input {
        border: none;
        color: #222;
        font-size: 1.8rem;
        padding: 10px 20px;
        width: 500px;
        box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);
        border-radius: 0px;
        height: 100%;

        @include for-phone-only {
          margin-top: 15px;
          width: 80%;
        }
        @include for-tablet-portrait-up {
          margin-top: 15px;
          width: 450px;
        }
        @include for-tablet-landscape-up {
          margin-top: none;
          width: 500px;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        background: #e51f43;
        border: none;
        color: #fff;
        cursor: pointer;
        font-family: 'Roboto', 'serif';
        font-size: 1.8rem;
        font-weight: 300;
        // height: 40.8px;
        width: 150px;
        box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);
        padding: 0;
        margin: 0;
        height: 100%;

        @include for-phone-only {
          width: 20%;
        }
        @include for-tablet-portrait-up {
          width: 125px;
        }
        @include for-tablet-landscape-up {
          width: 150px;
        }

        &:hover {
          background: #e20f07;
        }
        &:active {
          background: #d33200;
        }
        &:focus {
          outline: none;
        }
      } // end of button styles
    } // end of form styles

    .search_result_container {
      width: 100%;
      display: flex;
      justify-content: center;
      .place_holder {
        position: absolute;
        height: 195px;
        width: 575px;
      }
      .search_result_dropdown {
        background: #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 650px;
        z-index: 1000;

        @include for-phone-only {
          width: 365px;
        }

        @include for-tablet-portrait-up {
          width: 575px;
        }

        @include for-tablet-landscape-up {
          width: 650px;
        }

        button.active {
          background: #e4e4e4;
          color: #d33200;
        }

        button {
          background: #f4f4f4;
          border: none;
          color: #888;
          cursor: pointer;
          font-family: 'Roboto', 'sans-serif';
          font-size: 1.6rem;
          margin-bottom: 2px;
          text-align: left;
          padding: 7px 2rem;
          width: 100%;
          &:hover {
            background: #e4e4e4;
            color: #d33200;
          }
          &:focus {
            outline: none;
          }
        }
      } // end of .search_result_dropdown
    }
  } // end of .address_searchbar
} // end of .hero styles

.cloud_top {
  background-image: url('../assets/images/landing-cloud-white.png');
  background-size: cover;
  background-position: center;
  height: 552px;
  position: relative;
  width: 100%;
  top: 12px;
  @include for-phone-only {
    height: 360px;
  }

  img {
    width: 40%;
    min-width: 500px;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -20px;

    @include for-phone-only {
      top: 20px;
      min-width: 350px;
      max-width: 400px;
      width: 90%;
    }
    @include for-tablet-portrait-up {
      top: 40px;
      min-width: 500px;
      max-width: 700px;
      width: 80%;
    }
    @media (min-width: 750px) {
      width: 85%;
    }
    @include for-desktop-up {
      top: 20px;
      max-width: 700px;
      width: 90%;
    }
  }
} // end cloud_top
