.hero {
  text-align: center;
  position: relative;

  h1 {
    color: #fff;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 6.8rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 140px 0 40px;
    @include for-phone-only {
      margin-top: 60px;
    }
    @include for-tablet-portrait-up {
      margin-top: 80px;
    }
    @include for-tablet-landscape-up {
      margin-top: 140px;
    }
  }

  p {
    color: #fff;
    font-family: 'Roboto', 'serif';
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 30px;
    opacity: 0.8;
    word-spacing: 2px;
    margin: 0 auto;
    @include for-phone-only {
      margin-top: 25px;
    }
  }

  .address_searchbar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 120px;

    @include for-phone-only {
      margin-bottom: 60px;
    }

    p {
      font-size: 2rem;
      position: absolute;
      margin-top: 20px;
      width: 100%;
      color:red
    }

    form {
      margin: 70px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include for-phone-only {
        margin: 50px 0 0;
        align-items: flex-end;
      }

      @include for-tablet-portrait-up {
        margin: 60px auto 0;
        align-items: flex-end;
      }

      @include for-tablet-landscape-up {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 60px auto 0;
        justify-content: center;
      }

      input {
        border: none;
        color: #222;
        font-size: 1.8rem;
        padding: 10px 20px;
        width: 500px;
        box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);

        @include for-phone-only {
          margin-top: 15px;
          width: 255px;
        }
        @include for-tablet-portrait-up {
          margin-top: 15px;
          width: 450px;
        }
        @include for-tablet-landscape-up {
          margin-top: none;
          width: 500px;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        background: #e63700;
        border: none;
        color: #fff;
        cursor: pointer;
        font-family: 'Roboto', 'serif';
        font-size: 1.8rem;
        font-weight: 300;
        height: 41px;
        width: 150px;
        box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);

        @include for-phone-only {
          width: 110px;
        }
        @include for-tablet-portrait-up {
          width: 125px;
        }
        @include for-tablet-landscape-up {
          width: 150px;
        }

        &:hover {
          background: #f13800;
        }
        &:active {
          background: #d33200;
        }
        &:focus {
          outline: none;
        }
      } // end of button styles
    } // end of form styles

    .search_result_container {
      width: 100%;
      display: flex;
      justify-content: center;
      .search_result_dropdown {
        background: #f4f4f4;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 0.5rem 0;
        width: 650px;
        z-index: 1000;

        @include for-phone-only {
          width: 365px;
        }

        @include for-tablet-portrait-up {
          width: 575px;
        }

        @include for-tablet-landscape-up {
          width: 650px;
        }

        button.active{
          background: #e4e4e4;
          color: #d33200;
        }
        
        button {
          background: #f4f4f4;
          border: none;
          color: #888;
          cursor: pointer;
          font-family: 'Roboto', 'sans-serif';
          font-size: 1.6rem;
          margin-bottom: 2px;
          text-align: left;
          padding: 7px 2rem;
          width: 100%;
          &:hover {
            background: #e4e4e4;
            color: #d33200;
          }
          &:focus {
            outline: none;
          }
        }
      } // end of .search_result_dropdown
    }
  } // end of .address_searchbar
} // end of .hero styles

.cloud_top {
  background-image: url('../assets/images/landing-cloud-white.png');
  background-size: cover;
  background-position: center;
  height: 552px;
  position: relative;
  width: 100%;
  top: 12px;
  @include for-phone-only {
    height: 400px;
  }

  img {
    width: 40%;
    min-width: 500px;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -20px;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;

    @include for-phone-only {
      top: 20px;
      min-width: 350px;
      width: 90%;
    }
    @include for-tablet-portrait-up {
      top: 40px;
      min-width: 500px;
      max-width: 700px;
      width: 80%;
    }
    @media (min-width: 750px) {
      width: 85%;
    }
    @include for-desktop-up {
      top: 20px;
      max-width: 700px;
      width: 90%;
    }
  }
} // end cloud_top

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
