.landing_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 3%;
  height: $dashboard_nav_height;
  width: 100%;
  @include for-phone-only {
    padding: 1.1rem 3%;
  }
  @include for-tablet-portrait-up {
    padding: 1.1rem 3%;
  }
  @include for-desktop-up {
    padding: 1.1rem 1%;
  }

  .landing_nav_home_icon {
    color: white;
    opacity: 0.75;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    h1 {
      font-family: 'Montserrat', 'sans-serif';
      font-style: normal;
      font-weight: 900;
      font-size: 2.5rem;
      line-height: 4.2rem;
      margin-left: 5%;
      display: block;
      letter-spacing: 0;
      @include for-phone-only {
        display: none;
      }
    }
    .fa-2x {
      font-size: 2.5rem;
    }
    p {
      color: #fff;
      font-family: 'Roboto', 'serif';
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.6rem;
      opacity: 0.8;
      word-spacing: 2px;
      opacity: 1;
      word-spacing: 2px;
      margin-left: 15px;
    }

    @include for-tablet-portrait-up {
      // margin-left: 5px;
    }

    @include for-phone-only {
      // margin-left: 5px;
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: inherit;
      opacity: inherit;
      display: flex;
      align-items: center;
      &:hover {
        opacity: 1;
      }
    }
  }

  .landing_nav_item_container {
    width: 300px;
    justify-content: flex-end;
    display: flex;
    align-items: center;

    @include for-phone-only {
      width: 300px;
      justify-content: flex-end;
    }

    @include for-desktop-up {
      width: 300px;
    }

    a {
      text-decoration: none;
      color: white;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.6rem;
      opacity: 0.8;
      margin-right: 25px;
      @include for-phone-only {
        font-size: 1.8rem;
      }
      &:hover {
        opacity: 1;
      }
    }

    .landing_nav_button {
      background: #e51f43;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.6rem;
      border: none;
      color: white;
      box-shadow: 4px 5px 1px -1px RGBA(0, 0, 0, 0.1);
      border-radius: 4px;
      height: 32px;
      width: 132px;
      padding: none;
      @include for-phone-only {
        width: 80px;
      }
      cursor: pointer;
      &:hover {
        background: #e20f07;
      }
      &:focus {
        outline: none;
      }
      &:active {
        background: #d33200;
      }
    }
  } // end of landing_nav_item_container
} // end of landing_nav_container
