.toastify_error,
.toastify_success {
  color: #fff;
  font-family: 'Roboto', 'san-serif';
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  word-spacing: 2px;
  opacity: 1;
  word-spacing: 2px;
  margin-left: 15px;
}
