.valuation_playground_content_container {
  width: 90%;
  margin: 0 auto;
  display: flex;

  @include for-phone-only {
    flex-direction: column-reverse;
  }

  @include for-tablet-portrait-up {
    flex-direction: column-reverse;
  }
  @include for-desktop-up {
    flex-direction: row;
  }

  .valuation_playground_jumbo_container {
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 35%;
    max-width: 500px;
    min-width: 450px;

    @include for-phone-only {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    @include for-tablet-portrait-up {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }

    @include for-desktop-up {
      margin-left: 15px;
      width: 35%;
      max-width: 500px;
      min-width: 450px;
    }

    .valuation_playground_jumbo_img {
      width: 100%;
      background-image: url('../assets/images/house-profile/housewithpool.png');
      height: 363px;
      background-position: center;

      @include for-phone-only {
        height: 200px;
        background-position: center;
      }

      @include for-tablet-portrait-up {
        height: 200px;
        background-position: center;
      }
    }
    .valuation_playground_jumbo_title {
      text-align: left;
      font-size: 1.8rem;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 400;
      letter-spacing: 0;
      padding: 20px 0 20px 9%;

      @include for-phone-only {
        text-align: center;
        font-size: 1.8rem;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 0;
        padding: 20px 0%;
        width: 80%;
        margin: 0 auto;
      }

      i {
        color: #e63700;
      }
    }

    .valuation_playground_jumbo_prices_container {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #d4d4d4;
      font-size: 1.6rem;
      padding: 30px 0 60px;

      .valuation_playground_jumbo_upgrade_type {
        color: #222;
        font-family: 'Fira Sans', 'sans-serif';
        font-weight: 600;
        font-size: 2rem;
        margin: 30px auto 25px;
        width: 80%;
        text-align: right;
        border-bottom: 1px solid #222;
        padding-bottom: 8px;
      }

      .valuation_playground_jumbo_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 80%;
        margin: 0 auto 25px;

        .valuation_playground_jumbo_upgrade_info {
          font-family: 'Montserrat', 'sans-serif';
          font-size: 1.2rem;
          font-weight: 700;
          text-transform: uppercase;
          color: #888;
        }

        .valuation_playground_jumbo_upgrade_numbers {
          color: #22ab00;
          font-family: 'Roboto', 'sans-serif';
          font-size: 2.4rem;
          font-weight: 300;
        }
      } // end of .valuation_playground_jumbo_row
    } // end of .valuation_playground_jumbo_prices_container
  } // end jumbo_container

  .valuation_playground_upgrades_container {
    display: flex;
    flex-direction: column;
    width: 48%;
    min-width: 600px;
    max-width: 70%;

    @include for-phone-only {
      min-width: 100%;
      width: 30%;
    }

    @include for-tablet-portrait-up {
      min-width: 100%;
      width: 30%;
    }

    @include for-desktop-up {
      min-width: 600px;
    }

    .valuation_playground_upgradeType_title {
      font-family: Montserrat;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 2.2rem; /* identical to box height */
      color: #666;

      @include for-phone-only {
        width: 100%;
        text-align: center;
        margin-top: 10px;
      }
    }

    .valuation_playground_selector_container {
      margin-bottom: 15px;
      margin-right: 15px;
      background: #ffffff;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
      height: 92px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4.2%;

      @include for-phone-only {
        margin-right: 0px;
        flex-direction: column;
      }

      @include for-tablet-portrait-up {
        margin-right: 0px;
      }

      @include for-desktop-up {
        margin-right: 15px;
      }

      .valuation_playground_selector::-ms-expand {
        display: none;
      }

      .valuation_playground_selector {
        border: none;
        cursor: pointer;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
        width: 50%;
        max-width: 250px;
        height: 3.5rem;
        display: block;
        // text-align doesn't work

        @include for-phone-only {
          width: 100%;
          max-width: 100%;
        }

        &:focus {
          outline: none;
        }

        option:checked {
          display: none;
        }

        option:not(:checked) {
          color: #888;
        }
      }

      .vpg_select_border {
        border: 1px solid #c4c4c4;
      }
    } // end valuation_selector_container

    // === Saving for later: styling the dropdown icon ===
    // .valuation_playground_selector_container::after {
    //   content: '\f078';
    //   font: normal normal normal 17px/1 FontAwesome;
    //   color: #c4c4c4;
    //   height: 34px;
    //   padding: 15px 0px 0px 8px;
    //   pointer-events: none;
    //   position: relative;
    //   top: 6px;
    // }
  } // end upgrades_container
} // end content_container
