.wizard_page_container {
  display: flex;

  .wizard_form_container {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: linear-gradient(222.93deg, rgba(8, 54, 145, 0.9) 3.94%, rgba(0, 104, 255, 0.83) 43.85%, rgba(8, 54, 145, 0.9) 96.75%);
    backdrop-filter: blur(100px);
    z-index: -1;

    .cloud {
      z-index: -1;
      height: 100%;
      max-height: 460px;
      width: 100%;
      background-image: url('../assets/images/landing-cloud-white.png');
      background-position: center;
      background-size: cover;
      position: fixed;
      bottom: 0;
    }

    .wizard_form_card {
      margin: 100px auto 20px;
      max-width: 1000px;
      min-width: 850px;
      background: white;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
      position: relative;
      width: 90%;
      height: $form_wizard_height;

      @include for-tablet-portrait-up {
        width: 90%;
        min-width: 550px;
      }

      @include for-phone-only {
        width: 100%;
        max-width: 600px;
        min-width: 350px;
        // max-height: 750px;
        // min-height: 750px;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 60px;
        box-shadow: none;
      }

      .wizard_form_initial_data {
        .welcome {
          height: $form_wizard_height;
          display: flex;
          position: relative;

          .left_panel {
            width: 35%;
            position: relative;
            background-image: url('../assets/images/welcome.jpg');
            background-position: center;
            background-size: cover;
            @include for-phone-only {
              display: none;
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              z-index: 1;
              background: linear-gradient(202.93deg, rgba(8, 54, 145, 0.9) 2.94%, rgba(0, 104, 255, 0.75) 57.05%, rgba(0, 94, 230, 0.8) 86.75%);
            }
          }

          .left_panel_text {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 799;
            width: 35%;
            height: $form_wizard_height;
            @include for-phone-only {
              display: none;
            }

            h1 {
              color: white;
              margin-top: 100px;
              margin-left: 30px;
              font-family: 'Montserrat', 'sans-serf';
              font-weight: 700;
              font-size: 3.6rem;
              letter-spacing: 0;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              @media (max-width: 800px) {
                font-size: 3rem;
              }
            }

            h2 {
              position: absolute;
              color: #fff;
              opacity: 0.4;
              bottom: 30px;
              left: 30px;
              font-family: 'Montserrat', 'sans-serf';
              font-weight: 700;
              font-size: 2.2rem;
              letter-spacing: 0;
            }
          } // end of .left_panel_text

          .right_panel {
            padding: 65px 0px 40px;
            margin: 0 auto;
            width: 60%;
            display: flex;
            flex-direction: column;
            @include for-phone-only {
              width: 100%;
              padding: 50px 0px;
            }

            .address_container {
              height: 45%;
              width: 90%;
              margin: 0 0 0 8%;
              @include for-phone-only {
                height: 40%;
              }

              h4 {
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                text-align: left;
                position: relative;
                z-index: 1;
                font-size: 1.3rem;
                font-family: 'Montserrat', 'sans-serif';
                margin-bottom: 30px;

                &:before {
                  content: '';
                  margin: 0 auto;
                  position: absolute;
                  top: 45%;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: -1;
                }
              }
              h2 {
                font-weight: 600;
                margin-top: 1.5rem;
                letter-spacing: 0;
                font-size: 3.6rem;
                font-family: 'Fira Sans', 'sans-serif';
                color: #444;
                @media (max-width: 800px) {
                  font-size: 2.4rem;
                }
                @include for-phone-only {
                  text-align: center;
                  font-size: 3rem;
                  margin-left: -10%;
                }
              }
              h3 {
                line-height: 1.6rem;
                margin-top: 1rem;
                // margin-left: calc(15% + 3rem);
                margin-left: 8%;
                font-size: 2.8rem;
                font-weight: 300;
                color: gray;
                letter-spacing: 0;
                font-family: 'Fira Sans', 'sans-serif';
                @media (max-width: 800px) {
                  font-size: 1.8rem;
                }
                @include for-phone-only {
                  text-align: center;
                  font-size: 2.6rem;
                  margin-left: -10%;
                }
              }
            }
            .initial_value_range {
              height: 30%;
              width: 90%;
              margin: 0 0 45px 8%;
              @include for-phone-only {
                margin-bottom: 20px;
              }
              h4 {
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                font-size: 1.3rem;
                font-family: 'Montserrat', 'sans-serif';
                text-align: left;
                margin-bottom: 30px;

                &:before {
                  content: '';
                  margin: 0 auto;
                  position: absolute;
                  top: 45%;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: -1;
                }
              }
              h3 {
                font-size: 1.2rem;
                color: #999;
                font-weight: bold;
                font-family: 'Montserrat', 'sans-serif';
                margin-bottom: 10px;
              }
              .low {
                margin-top: 0.5rem;
                font-family: 'Roboto', 'sans-serif';
                font-weight: 300;
                font-size: 1.8rem;
                color: #333;
                .orange {
                  color: rgb(255, 128, 64);
                }
                @include for-phone-only {
                  font-size: 2.2rem;
                }
              }
              .high {
                margin-top: 0.5rem;
                font-family: 'Roboto', 'sans-serif';
                font-weight: 300;
                font-size: 1.8rem;
                color: #333;
                .green {
                  color: rgb(0, 128, 36);
                }
                @include for-phone-only {
                  font-size: 2.2rem;
                }
              }
              .container {
                margin-top: 1.5rem;
                display: flex;
                @include for-phone-only {
                  justify-content: center;
                }
              }
              .container > div {
                margin-right: 4rem;
                @include for-phone-only {
                  margin: 0 1rem;
                }
              }
            }
            .bottom_container {
              height: 36%;
              width: 90%;
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              @include for-phone-only {
                flex-direction: column;
                width: 100%;
                height: 45%;
                align-items: center;
              }

              p {
                font-family: 'Roboto', 'sans-serif';
                font-weight: 400;
                font-size: 1.6em;
                line-height: 1.8rem;
                color: #555;
                margin-left: 8%;
                width: 70%;

                span {
                  font-weight: 600;
                  padding-bottom: 12px;
                  margin-top: 20px;
                }
                @include for-phone-only {
                  margin: 0;
                  width: 90%;
                  text-align: center;
                  margin-bottom: 15px;
                  font-size: 1.6rem;
                  text-align: left;

                  span {
                    font-size: 2rem;
                  }
                }
              }

              .next_button {
                // margin-right: 2rem;
                background: #e63700;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.6rem;
                border: none;
                color: white;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                height: 32px;
                width: 100px;
                padding: none;
                @include for-phone-only {
                  height: 40px;
                  width: 90%;
                }
                cursor: pointer;
                &:hover {
                  background: #f13800;
                }
                &:focus {
                  outline: none;
                }
                &:active {
                  background: #d33200;
                }
              }
            }
          } // end of .right_panel
        } // end of .welcome

        .questions_answers {
          height: $form_wizard_height;
          display: flex;
          position: relative;
          .left_panel {
            width: 35%;
            position: relative;
            background-image: url('../assets/images/wizard-form.jpg');
            background-position: center;
            background-size: cover;
            @media (max-width: 800px) {
              display: none;
            }
            @include for-phone-only {
              display: none;
            }
          }
          .left_panel_text {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 799;
            width: 35%;
            height: $form_wizard_height;
            @media (max-width: 800px) {
              display: none;
            }
            @include for-phone-only {
              display: none;
            }

            h4 {
              position: absolute;
              color: #fff;
              opacity: 0.8;
              bottom: 30px;
              left: 30px;
              font-family: 'Montserrat', 'sans-serf';
              font-weight: 700;
              font-size: 2.2rem;
              letter-spacing: 0;
            }
          } // end of .left_panel_text
          .right_panel {
            width: 65%;
            @media (max-width: 800px) {
              width: 100%;
            }
            @include for-phone-only {
              width: 100%;
            }
            .initial_value_range {
              padding: 0 5%;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #e4e4e4;

              @include for-phone-only {
                flex-direction: column;
                height: 140px;
                width: 100%;
                padding: 0;
              }

              h4 {
                font-weight: bold;
                text-align: center;
                position: relative;
                z-index: 1;
                font-size: 1.3rem;
                font-family: 'Montserrat', 'sans-serif';
                text-align: left;
                color: #333;
                @media (max-width: 800px) {
                  display: none;
                }
                @include for-phone-only {
                  display: none;
                }
              }
              .container {
                width: 40%;
                min-width: 220px;
                justify-content: space-between;
                display: flex;
                @media (max-width: 800px) {
                  width: 60%;
                  justify-content: space-around;
                }
                @include for-phone-only {
                  width: 100%;
                  justify-content: flex-start;
                  padding-bottom: 15px;
                  padding-left: 25px;
                }
                div {
                  @include for-phone-only {
                    margin-right: 20px;
                  }
                }
                h3 {
                  color: #999;
                  font-size: 1.2rem;
                  font-weight: bold;
                  font-family: 'Montserrat', 'sans-serif';
                  margin-bottom: 0.5rem;
                  @media (max-width: 800px) {
                    font-size: 1.4rem;
                  }
                  @include for-phone-only {
                    font-size: 1.2rem;
                  }
                }
                .low {
                  color: #333;
                  font-family: 'Roboto', 'sans-serif';
                  font-weight: 400;
                  font-size: 1.6rem;

                  .orange {
                    color: rgb(255, 128, 64);
                  }
                  @media (max-width: 800px) {
                    font-size: 2rem;
                  }
                  @include for-phone-only {
                    font-size: 2rem;
                  }
                }
                .high {
                  color: #333;
                  font-family: 'Roboto', 'sans-serif';
                  font-weight: 400;
                  font-size: 1.6rem;

                  .green {
                    color: rgb(0, 128, 36);
                  }
                  @media (max-width: 800px) {
                    font-size: 2rem;
                  }
                  @include for-phone-only {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
        .confirmation {
          height: 73px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .container {
            @include for-phone-only {
              display: none;
            }
            justify-content: space-between;
            display: flex;
            div {
              margin-right: 2rem;
            }
            h3 {
              color: #999;
              font-size: 1.2rem;
              font-weight: bold;
              font-family: 'Montserrat', 'sans-serif';
              margin-bottom: 0.5rem;
            }
            .low {
              color: #333;
              font-family: 'Roboto', 'sans-serif';
              font-weight: 400;
              font-size: 1.5rem;

              .orange {
                color: rgb(255, 128, 64);
              }
            }
            .high {
              color: #333;
              font-family: 'Roboto', 'sans-serif';
              font-weight: 400;
              font-size: 1.5rem;

              .green {
                color: rgb(0, 128, 36);
              }
            }
          }
        }
      }
      .wizard_form_progress {
        font-family: 'Roboto', 'sans-serif';
        height: 160px;
        position: absolute;
        width: 65%;
        top: 95px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 800px) {
          width: 100%;
        }
        @include for-phone-only {
          width: 100%;
          top: 180px;
        }
        div {
          color: gray;
          width: 55%;
          text-align: right;
          @media (max-width: 800px) {
            width: 75%;
          }
          @include for-phone-only {
            width: 75%;
            font-size: 1.2rem;
          }
        }
        p {
          text-align: center;
          width: 45%;
          color: #888;
          font-size: 1.6rem;
          margin-top: 1.8rem;
          line-height: 18px;
          @media (max-width: 800px) {
            width: 70%;
          }
          @include for-phone-only {
            width: 80%;
            margin-top: 1rem;
            font-size: 1.4rem;
          }
        }
        progress {
          width: 55%;
          margin-top: 4px;
          @media (max-width: 800px) {
            width: 75%;
          }
          @include for-phone-only {
            width: 80%;
          }
        }
      }
      .wizard_form_QA_container {
        height: 340px;
        position: absolute;
        width: 65%;
        bottom: 0px;
        right: 0;
        background-color: #f4f4f4;
        @media (max-width: 800px) {
          width: 100%;
        }
        @include for-phone-only {
          width: 100%;
          height: 415px;
          bottom: 0;
          margin: 0;
        }

        .QA_question {
          margin-top: 3rem;
          text-align: center;
          font-size: 2rem;
          color: #333;
          font-family: 'Roboto', 'sans-serif';

          @include for-phone-only {
            width: 80%;
            margin: 3rem auto 0;
            text-align: left;
            font-size: 2rem;
            height: 45px;
          }

          @include for-tablet-portrait-up {
            width: 90%;
            margin: 2.5rem auto 0;
            height: 40px;
          }
        }
        .QA_cards_container {
          label {
            font-size: 1.6rem;
            font-family: Montserrat;
            color: #333;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            cursor: pointer;
            @include for-phone-only {
              font-size: 1.6rem;
            }
          }
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 80%;
          min-width: 480px;
          margin: 15px auto 0;

          @include for-phone-only {
            min-width: 300px;
            width: 100%;
            margin-top: 15px;
          }

          div {
            @media (max-width: 800px) {
              // margin: 1rem;
              width: 45%;
            }
            @include for-phone-only {
              // margin: 0.1rem;
              width: 80%;
              height: 4.5rem;
              border-radius: 50px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            margin-bottom: 15px;
            width: 47%;
            min-width: 220px;
            height: 7rem;
            border: 2px solid;
            border-color: #ccc;
            background-color: white;
            border-radius: 10px;
            cursor: pointer;
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              cursor: pointer;
            }
            &:hover {
              // border-color: rgb(110, 164, 233);
              border-color: #999;
            }
          }
          div[select='true'] {
            border-color: rgb(110, 164, 233);
          }
        }
        .button_container {
          position: absolute;
          right: 8.5rem;
          bottom: 4rem;
          @include for-phone-only {
            width: 100%;
            padding: 0 5%;
            bottom: 2rem;
            right: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          .next_button {
            @include for-phone-only {
              width: 47%;
              height: 4rem;
            }
            // margin-right: 2rem;
            background: #e63700;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.6rem;
            border: none;
            color: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            height: 32px;
            width: 100px;
            padding: none;
            cursor: pointer;
            &:hover {
              background: #f13800;
            }
            &:focus {
              outline: none;
            }
            &:active {
              background: #d33200;
            }
          }
          .skip_button {
            background: #f4f4f4;
            border: 1px solid #e63700;
            color: #e63700;

            &:hover {
              background: #e63700;
              color: #fff;
              border: none;
            }
          }
          .prev_button {
            @include for-phone-only {
              width: 47%;
              height: 4rem;
            }
            margin-right: 2rem;
            background: rgb(18, 106, 246);
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.6rem;
            border: none;
            color: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            height: 32px;
            width: 100px;
            padding: none;
            cursor: pointer;
            &:hover {
              background: rgb(26, 114, 254);
            }
            &:focus {
              outline: none;
            }
            &:active {
              background: rgb(8, 96, 236);
            }
          }
        }
        @include for-phone-only {
          .shadow {
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 80px;
            bottom: 0;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
          }
        }
      }
      .confirmation_container {
        // height: 417px;
        position: relative;
        .left-panel {
          background-image: url('../assets/images/wizard-form.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 100%;
          z-index: 10;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 35%;
          background-color: rgb(236, 240, 244);
          @media (max-width: 800px) {
            display: none;
            // width: 100%;
            // top: 430px;
            // box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
            // z-index: 0;
            // margin-bottom: 20px;
            // height: 530px;
          }
          // @include for-phone-only {
          //   height: 430px;
          //   transform: translateY(99px);
          // }
          .register_inputs_container {
            background-image: url('../assets/images/form-gradient-top.png');
            background-repeat: no-repeat;
            background-size: 100%;
            padding: 1.5rem;
            margin: 10% 15% 0;
            background-color: white;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
            @media (max-width: 800px) {
              margin: 5% 15% 0;
            }
            @media (max-width: 400px) {
              margin: 10% 5% 0;
            }
            h1 {
              font-size: 2.2rem;
              color: white;
              text-shadow: 1px 1px 2px #000000;
              margin-bottom: 5rem;
              @media (max-width: 800px) {
                margin-bottom: 11rem;
                font-size: 3rem;
              }
              @include for-phone-only {
                margin-bottom: 7rem;
                font-size: 2.2rem;
              }
            }
            .register_label {
              margin: 6rem 0 2rem;
              text-align: center;
              font-size: 1.5rem;
              color: rgb(160, 160, 160);
              @media (max-width: 800px) {
                font-size: 2.5rem;
                margin: 13rem 0 3rem;
              }
              @include for-phone-only {
                margin: 9rem 0 2rem;
                font-size: 2rem;
              }
            }
            .register_input {
              resize: none;
              width: 100%;
              margin-bottom: 15px;
              border-style: none;
              border-bottom: 1.5px solid #c4c4c4;
              font-family: Roboto;
              font-style: normal;
              font-weight: 300;
              font-size: 1.8rem;
              line-height: 2.1rem;
              color: #898890;
              height: 30px;
              padding-left: 5%;
              transition: all 0.3s ease-in-out;
              border-radius: 0px;
              &:focus {
                outline: none;
                border-bottom: 1.5px solid #2868d9;
              }
            }
          }
        }
        .review_container {
          height: 270px;
          position: absolute;
          right: 0;
          // left: 0;
          bottom: 60px;
          width: 65%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background: white;
          @media (max-width: 800px) {
            width: 100%;
          }
          @include for-phone-only {
            height: 490px;
            bottom: -162px;
          }
          .shadow {
            display: none;
            @include for-phone-only {
              display: inline;
              z-index: -1;
              position: absolute;
              width: 100%;
              height: 80px;
              bottom: 0;
              box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
            }
          }
          .selection {
            width: 85%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include for-phone-only {
              flex-direction: column;
              height: 60px;
              border-bottom: 1px solid #e4e4e4;
            }
            @media (max-width: 800px) {
              width: 70%;
            }
            label {
              font-family: Montserrat;
              font-size: 1.4rem;
              text-transform: uppercase;
              font-weight: 600;
              line-height: 2.2rem; /* identical to box height */
              color: #666;
              @include for-phone-only {
                align-self: flex-start;
              }
            }
            select::-ms-expand {
              display: none;
            }
            select {
              border: none;
              cursor: pointer;
              font-family: Montserrat;
              font-style: normal;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 2.2rem;
              width: 22rem;
              height: 3.5rem;
              display: block;
              @include for-phone-only {
                align-self: flex-start;
                width: 100%;
              }
              &:focus {
                outline: none;
              }

              option:checked {
                display: none;
              }

              option:not(:checked) {
                color: #888;
              }
            }
          }
          p {
            color: #666;
            font-size: 1.8rem;
            text-align: left;
            margin: 15px 4rem 0;
            font-family: 'roboto';
            font-weight: 600;

            @include for-phone-only {
              margin-top: 40px;
            }
          }
          .button_container {
            align-self: flex-end;
            margin-right: 6.5rem;
            margin-bottom: -2.3rem;
            @include for-phone-only {
              align-self: center;
              width: 80%;
              margin: 0;
              margin-bottom: 0.5rem;
              margin-top: 20px;
            }
            .prev_button {
              margin-right: 2rem;
              background: rgb(18, 106, 246);
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 1.6rem;
              border: none;
              color: white;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
              border-radius: 4px;
              height: 32px;
              width: 100px;
              padding: none;
              cursor: pointer;
              @include for-phone-only {
                width: 100%;
                height: 4rem;
              }
              &:hover {
                background: rgb(26, 114, 254);
              }
              &:focus {
                outline: none;
              }
              &:active {
                background: rgb(8, 96, 236);
              }
            }
            .register_button {
              @include for-phone-only {
                margin: 0.5rem 0;
                width: 100%;
                height: 4rem;
              }
              margin-right: 2rem;
              background: #e63700;
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 1.6rem;
              line-height: 1.6rem;
              border: none;
              color: white;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
              border-radius: 4px;
              height: 32px;
              width: 100px;
              padding: none;
              cursor: pointer;
              &:hover {
                background: #f13800;
              }
              &:focus {
                outline: none;
              }
              &:active {
                background: #d33200;
              }
            }
          }
        }
        .bottom_logo {
          position: absolute;
          width: 117px;
          height: 30px;
          left: 10px;
          bottom: 10px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: rgba(255, 255, 255, 0.7);
          @media (max-width: 800px) {
            font-size: 36px;
            left: 15px;
            bottom: 15px;
          }
          @include for-phone-only {
            font-size: 24px;
            left: 10px;
            bottom: 10px;
          }
        }
      }
    } // end of .wizard_form_card
  }
}

progress[value] {
  --radius: 2rem;

  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 1rem;
  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: var(--radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  &::-webkit-progress-value {
    border-radius: var(--radius);
    transition: 500ms;
    background-color: rgb(18, 106, 246);
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}

.logo_address {
  display: flex;
  align-items: center;
  width: 50%;

  @include for-phone-only {
    width: 100%;
    padding: 15px 25px;
    border-bottom: 1px solid #e4e4e4;
  }

  i {
    font-size: 2.4rem;
    margin-right: 0.5rem;
    padding-bottom: 14px;
  }
  h2 {
    color: #333;
    opacity: 0.9;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 2.2rem;
    font-family: 'Fira Sans', 'sans-serif';
  }
  h3 {
    line-height: 1.6rem;
    margin-top: 0.4rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
    letter-spacing: 0;
    font-family: 'Fira Sans', 'sans-serif';
  }
}
